<!-- Topbar Start -->
<div class="container-fluid">
  <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
    <div class="col-lg-4">
      <a href="" class="text-decoration-none">
        <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
        <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1"
          >Shop</span
        >
      </a>
    </div>
    <div class="col-lg-4 col-6 text-left">
      <form action="{% url 'shop' %}">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search for products"
            name="search"
          />
          <div class="input-group-append">
            <span class="input-group-text bg-transparent text-primary">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </form>
    </div>
    
    <div class="col-lg-4 col-6 text-right">
      {% if user.is_authenticated %}
        <div class="btn-group">
            <button type="button" class="btn btn-lg btn-light dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></button>
            <div class="dropdown-menu dropdown-menu-right">
                <div 
                style=" padding: 0.25rem 1.5rem;
                        font-weight: 400;
                        color: #212529;
                      ">
                      {%if user.image%}
                        <img class="rounded-circle" style="width: 30%" alt="Avatar" src="{{user.image.url}}"/>
                      {%endif%}
                      {{user.username}}</div>
                <hr style="margin-top: 0.3rem; margin-bottom: 0.5rem;">
                <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                <a href="{% url 'logout' %}" class="dropdown-item">Log out</a>
            </div>
          </div>
      {% else %}
      <button type="button" class="btn btn-lg btn-light dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="{% url 'login' %}" class="dropdown-item">Sign in</a>
          <a href="{% url 'register' %}" class="dropdown-item">Sign up</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- Topbar End -->