{% extends "base.html" %}
{% block content %}
<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    
                    {% if user.image %}
                        <img src="{{ user.image.url }}" style="width: 11rem;" alt="Profile Image" />
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form method="POST" action="{% url 'profile' %}">
                        {% csrf_token %} 
                        <!-- Form Group (username)-->
                        {% comment %} {{ form.as_p }} ==> MAKES A FORM BY DEFAULt{% endcomment %} 
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username</label>
                            {{form.username}}
                            {% comment %} <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="username"> {% endcomment %}
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                {{form.first_name}}
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                {{form.last_name}}
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            {{form.email}}
                        </div>
                        {% comment %} {{ form.image.label_tag }}
                    {{ form.image }}
                    {% if user.image %}
                        <img src="{{ user.image.url }}" alt="Profile Image" />
                    {% endif %} {% endcomment %}
                    <div>
                        {{ form.image.image_tag }}
                        {{ form.image }}
                      </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% comment %} 

{% extends "base.html" %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center">
  <div>
    {% if user.image %}
    <img src="{{ user.image.url }}" alt="Profile Image" />
    {% endif %}
  </div>
  <div>
    <h3 class="font-bold text-xl m-2">{{ user.username }}</h1>
    <h3 class="font-bold text-xl m-2">{{ user.email }}</h1>
    <h3 class="font-bold text-xl m-2">{{ user.first_name }}</h1>
    <h3 class="font-bold text-xl m-2">{{ user.last_name }}</h1>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="p-10" id="form-container">
    <form id="my-form" method="POST" enctype="multipart/form-data">
      {% csrf_token %} 
      <div class="my-3">{{ form.username }}</div>
      <div class="my-3">{{ form.email }}</div>
      <div class="my-3">{{ form.first_name }}</div>
      <div class="my-3">{{ form.last_name }}</div>
      <div>
        {{ form.image.label_tag }}
        {{ form.image }}
      </div>
      <button type="submit">Save Changes</button>
    </form>
  </div>
</div>
{% endblock content %} {% endcomment %}
